#chatWidget {
	  float: right;
	  position: fixed; 
	  bottom: 0;
	  right: 10px
	}

	#chatWidgetHeader {
	  text-align: center;
	  background-color: #00001a;
	  border-radius: 10px 10px 0 0;
	  color: #ffff33;
	  padding: 3px;
	  display: block;
	  width: 315px;
		
	}
	
		#dash {
		float:right;
		margin-right: 15px;
		border: 3px solid red;
		border-radius: 50%;
		font-size: 50%;
		margin-top: 5px;
		background-color: red;
		font-weight: bold;
		padding: 2px;
		cursor: pointer;
	}

	#chatWidgetBody {
	  height: 300px;
	  background-color: #e6e6ff;
	  padding: 5px;
	  display:none;
	 }

